.row {
    display: flex;
    justify-content: center;
}

.column {
    border: 1px solid black;
    width: 30px;
    height: 30px;
}

#controls {
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.color {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.red {
    background: red;
}

.blue {
    background: blue;
}

.green {
    background: green;
}

#gridSet {
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

form > button {
    padding: 10px 15px;
    border: 1px solid black;
    border-radius: 10px;
}