.row {
    display: flex;
    justify-content: center;
}

.column {
    border: 1px solid black;
    width: 30px;
    height: 30px;
}

form {
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

input {
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    margin-right: 10px;
    width: 25%;
}

form > button {
    padding: 10px 15px;
    border: 1px solid black;
    border-radius: 10px;
}